# Environment Variables
.env
.env.local
.env.*.local

# OS & Editor/IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend (Golang)
#
# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test artifacts
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Database (SQLite)
*.db
*.sqlite
*.db-journal

# Frontend (Node.js / Vite / TWA)
#
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/